.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.game-square {
  border: 2px solid white;
  background-color:  #223541;
  color: red;
  float: left;
  font-size: 40px;
  height: 100px;
  padding: 0px;
  text-align: center;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
}

.reset-btn{
    border: 1.5px solid black;
    background-color: greenyellow;
    margin-top: 10px;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: white;
}
